body{margin:2px}
.topic2{font-weight:bolder;}

main{ /* 容器 */
    display:flex; flex-wrap:wrap; /* 有flex-wrap才會換行*/
    justify-content:start;  
    align-items:stretch;  
    background-color:#cccccc;
}
main>.item{/* 容器中的項目 */
    flex:none;
    width:270px;margin:10px; /* (270 + 10) *4*/
    background-color:#ffcccc;
}

main>.item2{/* 容器中的項目 */
    flex:auto;
    margin:10px; 
    background-color:#bbcccc;
}

/*順序要對  不然要寫更多的code*/
@media (max-width:1200px){
    main>.item{
        width:45%;
    }
}
@media (max-width:500px){
    main>.item{
        width:90%;
    }
}
.hide{display:none;}